@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.heading {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 0;
  color: #2f3132;
}

.heading_upcase {
  text-transform: uppercase;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2f3132;
  margin: 0;
}

.top {
  background-color: #e0e1e2;
  padding-top: 25px;
  padding-bottom: 48px;
}

.top__header {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}

.top__img {
  height: 230px;
  background: url(/img/MX-Master\ 1.png) no-repeat center;
  background-size: contain;
  margin-bottom: 67px;
}

.top__text {
  width: 257px;
  margin: auto;
  margin-bottom: 40px;
}
.top__arrow {
  display: flex;
  justify-content: center;
}

.wireless {
  background-color: #ededed;
  padding-top: 42px;
  padding-bottom: 18px;
}

.wireless__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}

.wireless__text {
  width: 308px;
  margin: auto;
  margin-bottom: 31px;
}
.wireless__heading {
  margin-bottom: 20px;
}
.wireless__days {
  width: 247px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.wireless_days-1,
.wireless_days-2 {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #c4c4c4;
}

.wireless__img {
  display: flex;
  justify-content: center;
}

.surface {
  padding-top: 70px;
  padding-bottom: 63px;
}

.surface__heading {
  margin-bottom: 20px;
}

.surface__text {
  width: 247px;
  margin: auto;
  margin-bottom: 30px;
}

.surface__info {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-bottom: 28px;
}

.surface__info-item {
  border: 1px solid #2f3132;
  flex-basis: 166px;
  padding: 0.5rem 17px;
  min-height: 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.surface__carousel-header {
  font-size: 14px;
  line-height: 16px;
  margin-top: 27px;
  margin-bottom: 70px;
}

.surface__footer {
  width: 308px;
  margin: auto;
}

.flow {
  background-color: #ededed;
  padding-top: 70px;
  padding-bottom: 218px;
  background-image: url(/img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.flow__heading {
  margin-bottom: 20px;
}

.flow__text {
  margin: auto;
  margin-bottom: 36px;
  width: 308px;
}

.flow__list {
  width: 375px;
  margin: auto;
}

.flow__list-ol {
  margin-bottom: 0;
  padding-left: 54px;
}

.flow__list-item {
  text-align: left;
  list-style-position: inside;
  margin-bottom: 16px;
  width: 224px;
}

.settings {
  background-color: #ededed;
  padding-top: 70px;
}

.settings__heading {
  margin-bottom: 20px;
}

.settings__text {
  width: 308px;
  margin: auto;
  margin-bottom: 35px;
}

.settings__carousel {
  margin-bottom: 96px;
}

.settings__apps {
  background: #c4c4c4;
  padding-top: 23px;
  padding-bottom: 26px;
}

.settings__icons {
  display: flex;
  justify-content: space-between;
  width: 324px;
  margin: auto;
  margin-bottom: 20px;
}

.settings__footer {
  width: 308px;
  margin: auto;
  color: #fff;
}

.design {
  padding-top: 70px;
}

.design__heading {
  margin-bottom: 20px;
}

.design__text {
  width: 307px;
  margin: auto;
  margin-bottom: 20px;
}

.design__img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 310px;
}

.design__img_1 {
  background-image: url(/img/design.jpg);
  margin-bottom: 70px;
}

.design__img_2 {
  background-image: url(/img/speed.jpg);
}

.copyright {
  background-color: #2f3132;
  padding-top: 22px;
  padding-bottom: 37px;
  margin: auto;
}

.copyright__text {
  font-size: 7px;
  line-height: 8px;
  text-align: center;
  color: #c7c8c8;
  margin-bottom: 0;
}
