@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.heading {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #2f3132;
  width: 85%;
  margin: 0 auto 20px;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #2f3132;
  margin: 0;
}

.menu {
  padding-top: 25px;
  padding-bottom: 90px;
  background-color: #e0e1e2;
}

/* menu (less 768px)*/
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar > .container-fluid {
  justify-content: center;
}

.navbar-toggler {
  right: 25px;
  padding: 0;
  z-index: 1;
}

.navbar-toggler,
.navbar-toggler:focus {
  box-shadow: none;
  border: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  background-image: url("../img/menu_close.svg");
  background-size: contain;
  width: 30px;
  height: 30px;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url("../img/menu-burger.svg");
  background-size: contain;
  width: 30px;
  height: 16px;
}

.navbar-collapse.collapsing .nav-item,
.navbar-collapse.collapse.show .nav-item {
  margin: auto;
}

.navbar-nav .nav-link {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
}

/* menu (less 768px) end */

.menu__logo {
  width: 130px;
}

.top {
  background-color: #e0e1e2;
  padding-bottom: 48px;
}

.top__img {
  height: 230px;
  background-image: url(../img/MX-Master-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 67px;
}

.top__text {
  width: 70%;
  margin: 0 auto 40px;
}

.top__arrow {
  display: flex;
  justify-content: center;
}

.top__arrow-down {
  width: 39px;
  height: 20px;
}

.wireless {
  background-color: #ededed;
  padding-top: 42px;
}

.wireless__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
}

.wireless_icon-bluetooth {
  width: 18px;
  height: 34px;
}

.wireless__text {
  width: 80%;
  margin: 0 auto 31px;
}

.wireless__days {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 236px;
  background-image: url(../img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-position-y: 70px;
}

.wireless_days-1,
.wireless_days-2 {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #c4c4c4;
}

.surface {
  padding-top: 70px;
  padding-bottom: 63px;
}

.surface__text {
  width: 65%;
  margin: 0 auto 30px;
}

.surface__info {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-bottom: 28px;
}

.surface__info-item {
  border: 1px solid #2f3132;
  flex-basis: 166px;
  padding: 0.5rem 17px;
  min-height: 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.surface__info-heading {
  margin-bottom: 5px;
}

#carouselSurface .carousel-control-next,
#carouselSurface .carousel-control-prev {
  top: auto;
  bottom: -90px;
  width: 12px;
  z-index: 2;
}

#carouselSurface .carousel-control-next {
  margin-right: calc(50% - 150px);
}

#carouselSurface .carousel-control-prev {
  margin-left: calc(50% - 150px);
}

#carouselSurface .carousel-control-next-icon {
  background-image: url("../img/arrow-right.svg");
}

#carouselSurface .carousel-control-prev-icon {
  background-image: url("../img/arrow-left.svg");
}

#carouselSurface .carousel-indicators {
  bottom: -90px;
  margin: 0;
  gap: 20px;
}

#carouselSurface .carousel-indicators [data-bs-target] {
  width: 31px;
  height: 31px;
  background: no-repeat center;
  margin: 0;
  border: 0;
  opacity: 0.8;
  border-radius: 50%;
  background-size: contain;
}

#carouselSurface .carousel-indicators .active,
#carouselSurface .carousel-indicators [data-bs-target]:hover {
  opacity: 1;
}

#carouselSurface .carousel-indicators [data-bs-slide-to="0"] {
  background-image: url(../img/switch_wood.png);
}
#carouselSurface .carousel-indicators [data-bs-slide-to="1"] {
  background-image: url(../img/switch_glass.png);
}
#carouselSurface .carousel-indicators [data-bs-slide-to="2"] {
  background-image: url(../img/switch_linoleum.png);
}
#carouselSurface .carousel-indicators [data-bs-slide-to="3"] {
  background-image: url(../img/switch_cloth.png);
}
#carouselSurface .carousel-indicators [data-bs-slide-to="4"] {
  background-image: url(../img/switch_marble.png);
}

.surface__carousel-header {
  font-size: 14px;
  line-height: 16px;
  margin-top: 27px;
  margin-bottom: 70px;
}

.surface__footer {
  width: 80%;
  margin: auto;
}

.flow {
  background-color: #ededed;
  padding-top: 70px;
  padding-bottom: 55vw;
  background-image: url(../img/High_Resolution_JPG-MX_Lifestyle_2346_1.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.flow__text {
  width: 80%;
  margin: 0 auto 36px;
}

.flow__list {
  width: 100%;
}

.flow__list-ol {
  margin-bottom: 0;
  padding-left: 15%;
}

.flow__list-item {
  text-align: left;
  list-style-position: inside;
  margin-bottom: 16px;
  width: 80%;
}

.settings {
  background-color: #ededed;
  padding-top: 70px;
}

.settings__text {
  width: 80%;
  margin: 0 auto 35px;
}

.settings__carousel {
  margin-bottom: 96px;
}

#carouselFunction .carousel-indicators {
  bottom: -21px;
  margin: 0;
  gap: 15px;
}

#carouselFunction .carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  background: #2f3132;
  margin: 0;
  border: 0;
  opacity: 0.21;
  border-radius: 50%;
}

#carouselFunction .carousel-indicators .active,
#carouselFunction .carousel-indicators [data-bs-target]:hover {
  opacity: 1;
}

.settings__apps {
  background-color: #c4c4c4;
  padding-top: 23px;
  padding-bottom: 26px;
}

.settings__icons {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-top: 0;
  margin-bottom: 20px;
}

.settings__icons-size {
  height: 22px;
}

.settings__footer {
  width: 80%;
  margin: 0 auto;
  color: white;
}

.design {
  padding-top: 70px;
}

.design__text {
  width: 80%;
  margin: 0 auto 20px;
}

.design__img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 310px;
}

.design__img_1 {
  background-image: url(../img/design.jpg);
  margin-bottom: 70px;
}

.design__img_2 {
  background-image: url(../img/speed.jpg);
}

.copyright {
  background-color: #2f3132;
  padding-top: 22px;
  padding-bottom: 37px;
  margin: auto;
}

.copyright__text {
  font-size: 7px;
  line-height: 8px;
  text-align: center;
  color: #c7c8c8;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  /* menu 768-992px*/

  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    width: 86px;
    height: 86px;
  }

  .navbar-toggler.collapsed .navbar-toggler-icon {
    width: 61px;
    height: 32px;
  }

  .navbar-nav .nav-link {
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
  }
  /* menu 768-992px end */

  .menu__logo {
    width: 240px;
  }

  .top {
    padding-top: 0;
    padding-bottom: 80px;
  }

  .heading {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 30px;
  }

  .top__img {
    height: 514px;
    background-image: url(../img/MX-Master-1-tablet.png);
    margin-bottom: 124px;
  }

  .text {
    font-size: 24px;
    line-height: 28px;
  }

  .top__text {
    margin-bottom: 76px;
  }

  .top__arrow-down {
    width: 57px;
    height: 29px;
  }

  .wireless {
    padding-top: 80px;
  }

  .wireless_icon-bluetooth {
    width: 22px;
    height: 40px;
  }

  .wireless__icon {
    margin-bottom: 39px;
  }

  .settings__icons-size {
    height: 35px;
  }

  .wireless__text {
    margin-bottom: 76px;
  }

  .wireless_days-1,
  .wireless_days-2 {
    font-size: 150px;
    line-height: 176px;
  }

  .wireless__days {
    gap: 3rem;
    padding-bottom: 421px;
    background-image: url(../img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1-tablet.png);
    background-position: bottom;
  }

  .surface {
    padding-bottom: 61px;
  }

  .surface__info {
    gap: 32px;
    margin-bottom: 50px;
  }

  .surface__info-item {
    flex-basis: 300px;
    padding: 0.5rem 24px;
    min-height: 170px;
  }

  .surface__info-heading {
    margin-bottom: 10px;
  }

  .surface__carousel-header {
    font-size: 24px;
    line-height: 28px;
    margin-top: 50px;
    margin-bottom: 85px;
  }

  #carouselSurface .carousel-indicators {
    bottom: -140px;
    margin: 0;
    gap: 30px;
  }

  #carouselSurface .carousel-indicators [data-bs-target] {
    width: 50px;
    height: 50px;
  }

  #carouselSurface .carousel-control-next,
  #carouselSurface .carousel-control-prev {
    bottom: -131px;
    width: 50px;
  }

  #carouselSurface .carousel-control-next {
    margin-right: calc(50% - 260px);
  }

  #carouselSurface .carousel-control-prev {
    margin-left: calc(50% - 260px);
  }

  .flow {
    background-image: url(../img/High_Resolution_JPG-MX_Lifestyle_2346_1-tablet.jpg);
    padding-bottom: 50vw;
  }

  .flow__text {
    margin-bottom: 70px;
  }

  .flow__list {
    width: 85%;
    margin: auto;
  }

  .flow__list-ol {
    display: flex;
    padding-left: 0;
  }

  .flow__list-item {
    font-size: 20px;
    line-height: 23px;
    width: auto;
    margin-bottom: 0;
  }

  .flow__list-item:not(:first-child) {
    border-left: 1px solid #494949;
    padding-left: 28px;
  }

  .flow__list-item:not(:last-child) {
    padding-right: 21px;
  }

  .settings {
    padding-bottom: 70px;
  }

  .settings__text {
    width: 85%;
    margin-bottom: 54px;
  }

  .settings__carousel {
    margin-bottom: 148px;
  }

  #carouselFunction .carousel-indicators {
    bottom: -53px;
    margin: 0;
    gap: 25px;
  }

  #carouselFunction .carousel-indicators [data-bs-target] {
    width: 25px;
    height: 25px;
  }

  .settings__apps {
    width: 85%;
    padding-top: 38px;
    padding-bottom: 29px;
    margin: auto;
  }

  .settings__icons {
    gap: 35px;
    margin-bottom: 25px;
  }

  .settings__footer {
    width: 82%;
    font-size: 20px;
    line-height: 23px;
  }

  .design__text {
    margin-bottom: 50px;
  }

  .design__img {
    height: 549px;
  }

  .design__img_1 {
    background-image: url(../img/design-tablet.jpg);
  }

  .design__img_2 {
    background-image: url(../img/speed-tablet.jpg);
  }

  .copyright {
    padding-top: 47px;
    padding-bottom: 71px;
  }

  .copyright__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (min-width: 992px) {
  .menu {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #2f3132;
  }
  /* menu (from 991)*/

  .navbar {
    padding: 25px calc(50% - 580px);
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar > .container-fluid {
    justify-content: space-between;
  }

  .navbar-nav .nav-link {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: white;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
  /* menu font start */
  .navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.55);
  }

  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
  }
  /* menu font end */
  .nav-item {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #494949;
  }
  .nav-item:first-child {
    padding-left: 0;
  }
  .nav-item:last-child {
    padding-right: 0;
    border-right: none;
  }
  /* menu (from 992px) end */
}

@media (min-width: 1024px) {
  .text {
    font-size: 20px;
    line-height: 23px;
  }

  .heading {
    margin-bottom: 35px;
    font-size: 36px;
    line-height: 42px;
  }

  .menu__logo {
    width: 150px;
  }

  .top {
    padding-top: 0;
    padding-bottom: 80px;
  }

  .top__img {
    height: 671px;
    background-image: url(../img/MX-Master-1-desktop.png);
    margin-bottom: 8px;
    padding-top: 80px;
  }

  .top__text {
    margin-bottom: 49px;
  }

  .wireless__icon {
    margin-bottom: 35px;
  }

  .wireless__text {
    margin-bottom: 14px;
    width: 60%;
  }

  .surface {
    padding: 100px calc(50% - 640px);
  }

  .surface__text {
    width: 60%;
    margin-bottom: 50px;
  }

  .surface__info-item {
    flex-basis: 237px;
    min-height: 140px;
  }
  .surface__info-heading {
    margin-bottom: 0px;
  }

  .surface__carousel-header {
    font-size: 20px;
    line-height: 23px;
    margin-top: 49px;
    margin-bottom: 90px;
  }

  .surface__footer {
    width: 60%;
    margin: auto;
  }

  .flow {
    background-image: url(../img/High_Resolution_JPG-MX\ Lifestyle_2346_1-desktop.jpg);
    padding-top: 100px;
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
  }

  .flow__text {
    width: 80%;
    margin-bottom: 70px;
  }

  .settings {
    padding: 100px calc(50% - 580px);
  }

  .settings__text {
    width: 70%;
    margin-bottom: 0;
  }

  .setting_img {
    height: 576px;
    background-image: url(../img/function-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .settings__carousel {
    display: none;
  }
}

@media (min-width: 1280px) {
  .wireless {
    padding: 80px calc(50% - 580px) 0;
  }

  .wireless__days {
    gap: 0;
    background-image: url(../img/High_Resolution_PNG-MX\ Master\ 3\ FRONT\ LEFT\ GRAPHITE\ 1-desktop.png);
    background-position-y: 120px;
    padding-bottom: 143px;
  }

  .wireless_days-1 {
    font-size: 300px;
    line-height: 352px;
    padding-left: 80px;
  }

  .wireless_days-2 {
    font-size: 96px;
    line-height: 112px;
    padding-top: 45px;
  }

  .design {
    padding: 100px calc(50% - 640px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .design-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    max-height: 546px;
    overflow-y: auto;
  }

  .design-item:nth-child(4n-3) {
    align-items: flex-start;
    padding-left: 30px;
  }

  .design-item:nth-child(4n-1) {
    align-items: flex-end;
    padding-right: 30px;
  }

  .design-item .heading,
  .design-item .text {
    width: 400px;
    margin: 0;
  }

  .design-item:nth-child(4n-3) .heading,
  .design-item:nth-child(4n-3) .text {
    text-align: left;
  }

  .design-item:nth-child(4n-1) .heading,
  .design-item:nth-child(4n-1) .text {
    text-align: right;
  }

  .design__img_1 {
    background-image: url(../img/design-desktop.jpg);
    margin-bottom: 0;
    order: -1;
  }

  .design__img_2 {
    background-image: url(../img/speed-desktop.jpg);
  }
}
